/*Hello RampUp folks, this is my code. Hope you like it!**/


h1 { 
	

} 

blockquote {
	

}

body { }

.container { margin: 100%;
	padding: 25%;

}

p { font:  ;
	

}

footer{  }


#circle_1 { 
border-radius: 50%;
width: 400px;
height: 400px;
}

#circle_2 {
border-radius: 50%;
width: 400px;
height: 400px;}


