/*Hello RampUp folks, this is my code. Hope you like it!**/


h1 { 
	

} 

blockquote {
	

}

body { }

.container { margin: 100%;
	padding: 25%;

}

p { font:  ;
	

}

footer{  }


#circle_1 { 
width:  ;
height:  ;

}

#circle_2


