/*Hello RampUp folks, this is my code. Hope you like it!**/

<style>

h1 {font-family: 'Yellowtail', cursive;
	font-weight: 100; 
} 

p { 
color: #46494F;
font-family: 'Arimo', sans-serif;
text-align: center;
font-size: 2em;
line-height: 1em;}

body {
	background-image:url('images/textured_paper.png');
}

.container { 
	width: 1200px;
	height: 960px;
	margin: 0 auto;
}

.imgblock{ 
	position: absolute;
	margin: 50px 0 50px 10px;

}

.textblock{ 
	float: right;
	width:550px;
	height:550px;
	margin: auto 0 200px 10px;
	padding: 0;

}


#hiddencircle{
width: 530px;
height: 530px;
border-radius: 50%;
position: absolute;
 }


/*I really enjoy the idea of using Google Fonts**/

blockquote {
	font-family: 'Yellowtail', cursive;

	font-weight: 300;
	text-align: center; 

	}


footer{ 
	font-family: 'Arimo', sans-serif;
 	margin-bottom: 0 auto;
 	position: fixed;
 	}


</style>

