<style>

/*this is the hex code for the specific brown: #230b03; */


body { 

	display: block;


}
.container { 
	display: block;



}

header { 
	
	display: block;

}

.hero {
	display: block;


}

#logoimage {

	display: block;
	position: absolute; ;
}

#headerimage { 
	display: block;
	float: both;
	background-image: no-repeat src ('images/beans.jpg')
	
	 


}


#headertext {
	display: block;
	text-align: justify;
	line-height: 1.5em;
	position: absolute;


}

nav.navblock { 

	display: block;
	background-color: #301905; 


}

a {
	text-decoration: none;
	color: #cab07f;
}

a:hover {
	color: white;
	text-decoration: none;
}

#navlist li{

	display: inline;
	list-style-type: none;
	padding: 25px;
	margin: auto 20px auto 120px;
}

#navitem li{ 
	font-family: Times, serif; 
	color: #cab07f; 




}

section { 
	
	display: inline-block;

}

.maincontent {

	display: inline-block;
}


h1 { 
	display: block!important; 
	font-family: Helvetica, sans-serif;
	font-size: 2.5em;
	color: white;
}


h2 { 
	font-family: Helvetica, sans-serif;
	font-size: 1.5em;
	color: #230b03;
}

p {
 display: block;
 font-family: Times, serif;
 font-size: 1em;
 line-height: 1.5em;
 color: #230b03;
}


footer { 

	display: block;
	background-color: #301905;
	padding: 25px 25px 25px 400px;



}
#footertxt {

	display: inline;
	text-align: justify;
	color: #cab07f; 
}

address {
	text-decoration: none;
}

</style>