<style>

/*this is the hex code for the specific brown: #230b03; */


body { 

	display: block;


}
.container { 
	display: block;
	width: 1024px;
	height: 720px;



}

header { 
	
	display: block;

}

header.hero {


}

header#headerimage { 
	display: block;
	position: ;
	 


}

nav.navblock { 
	display: inline-block;
	background-color: #230b03; 


}

nav.navlist { 
	font-family: Times, serif; 
	color: #d4b374; 




}

section { 
	
	display: block;

}


h1 { 
	display: block!important; 
	font-family: Helvetica, sans-serif;
	font-size: 2.5em;
	color: white;
}


h2 { 
	font-family: Helvetica, sans-serif;
	font-size: 1.5em;
	color: #230b03;
}

p {
 display: block;
 font-family: Times, serif;
 font-size: 1em;
 color: #230b03;
}


footer { 

	display: inline;


}

</style>